

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gilroy';
    font-family: "Roboto", sans-serif;
   
}

html, body{
    height: 100%;
    width: 100%;
    
}
#main{
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 1px;
}
#nav{
    margin-top: 40px;
    width: 100%;
    height:10vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#nav h2{
    height: 100%;
    width: 23%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    font-size: 22px;
    font-weight: 600;
}
#nav h2:nth-last-child(1){
    width: 10%;
    /* background-color: yellow; */
}
#nav h1{
    height: 100%;
    width: 18%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: monument;
    margin-left: 15px;
    letter-spacing: -3px;
}

#center{
    width: 100%;
    height: 90%;
    /* background-color: red; */
    overflow-x: hidden;
    padding: 4vw;
}
#content{
    width: 100%;
    height: 100%;
    background-color: yellow;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    position: absolute;
    width: 100%;
    height:55%;
    /* background-color: red; */
    bottom: 0;
    padding: 3vw;
}

#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FEFFFF;
    
}
#top h1{
    font-family: monument;
    font-size: 3rem;
    font-weight: 700;
    
}
#top h3{
    padding: 2vw 2vw;
    
    border: 1px solid white;
    border-bottom: 5px solid white;
    border-radius: 50%;
}

#bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FEFFFF;
    border-top: 2px solid #F8F8F8;
    padding: 1vw 0;
    
}
#bottom h3{
    font-weight: 500;
}
#bottom img{
height: 3vw;
}



#container {
    display: flex;
    /* background-color: red; */
    width: 100%;
    height: 40vh;
    overflow-x: hidden;
    position: relative;
}

#scroll-wrapper {
    display: flex;
    width: 200%; 
    animation: scroll 8s linear infinite;
}

#scroll {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%; 
    height: 100%;
}

#scroll img {
    width: 17vw;
    height: 30vh;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-right: 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}
#page2{
    width: 100%;
    height: 100%;
    /* background-color: pink; */
}
#section{
    width: 100%;
    height: 10vh;
    /* background-color: red; */
    position: relative;
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 0 5vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.left h2{
    font-family: monument;
    border-bottom: 2px solid black;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 2px;
}
.right {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow;  */
    width: 80vw;
    /* margin-left: 10vw; */
}
.right h3{
    font-family: "Roboto", sans-serif;
    border-radius: 50%;
    padding: 1px;
    border: 2px solid black;
    width:2vw;
    font-style: italic;
    display: flex;
    justify-content: center;
    /* opacity: 0; */
}